<section class="marginY">
  <div class="container bg-main-light rounded shadow p-3 w-75">
    <form [formGroup]="forgetPassword" *ngIf="step1" (ngSubmit)="handleForgetPassword()">
      <label for="email">Email :</label>
      <input formControlName="email" type="email" class="form-control" id="email">
      <div
        *ngIf="(forgetPassword.get('email')?.touched || forgetPassword.get('email')?.value.length > 0) && forgetPassword.get('email')?.errors"
        class="alert alert-danger mt-2">
        <p *ngIf="forgetPassword.get('email')?.getError('required')">Email Required</p>
        <p *ngIf="forgetPassword.get('email')?.getError('email')">invalid Email</p>
      </div>
      <button class="main-btn mt-3">Forget Password</button>
      <p *ngIf="userMsg" class="alert alert-danger w-75 mx-auto p-2 my-3">{{userMsg}}</p>
    </form>
    <form [formGroup]="resetCodeForm" *ngIf="step2" (ngSubmit)="resetCode()">
      <label for="resetCode">Enter Code Sent :</label>
      <input formControlName="resetCode" type="text" class="form-control" id="resetCode">
      <div
        *ngIf="(resetCodeForm.get('resetCode')?.touched || resetCodeForm.get('resetCode')?.value.length > 0) && resetCodeForm.get('resetCode')?.errors"
        class="alert alert-danger mt-2">
        <p *ngIf="resetCodeForm.get('resetCode')?.getError('required')">Enter Code</p>
      </div>
      <button class="main-btn mt-3">Send</button>
      <p *ngIf="userMsg" class="alert alert-danger w-75 mx-auto p-2 my-3">{{userMsg}}</p>
    </form>
    <form [formGroup]="resetPasswordForm" *ngIf="step3" (ngSubmit)="handleNewPassword()">
      <label for="newPassword">New Password :</label>
      <input formControlName="newPassword" type="password" class="form-control" id="newPassword">
      <div
        *ngIf="(resetPasswordForm.get('newPassword')?.touched || resetPasswordForm.get('newPassword')?.value.length > 0) && resetPasswordForm.get('newPassword')?.errors"
        class="alert alert-danger mt-2">
        <p *ngIf="resetPasswordForm.get('newPassword')?.getError('required')">Required</p>
        <p *ngIf="resetPasswordForm.get('newPassword')?.getError('pattern')">must be at least 6 characters</p>
      </div>
      <button class="main-btn mt-3">Submit</button>
      <p *ngIf="userMsg" class="alert alert-danger w-75 mx-auto p-2 my-3">{{userMsg}}</p>
    </form>
  </div>
</section>
