.paddingY {
  padding: 5rem 0;
}

  .fa-heart:hover {
    color: red;
  }

.slider-imgs img {
  height: 25rem;
}
.static-imgs img {
  height: 12.5rem;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .slider-imgs img {
    height: 300px;
  }
  .static-imgs img {
    height: 150px;
  }

}

@media screen and (max-width: 576px) {
  .slider-imgs img {
    height: 300px;
  }
  .static-imgs img {
    height: 150px;
  }

}
