$main-color: #0aad0a;

:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.back-to-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $main-color;
  border: unset;
  color: #fff;
  transition: opacity 2s, visibility 2s;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.show {
  opacity: 1;
  visibility: visible;
}

