<section class="marginY">
  <div class="container bg-main-light rounded shadow p-3 w-50">

    <form [formGroup]="updatePasswordForm" (ngSubmit)="handleUpdatePassword()">

      <div class="formItem">
        <label for="currentPassword">Current Password :</label>
        <input formControlName="currentPassword" type="password" class="form-control my-2" id="currentPassword">
        <div
          *ngIf="(updatePasswordForm.get('currentPassword')?.touched || updatePasswordForm.get('currentPassword')?.value.length > 0) && updatePasswordForm.get('currentPassword')?.errors"
          class="alert alert-danger mt-2">
          <p *ngIf="updatePasswordForm.get('currentPassword')?.getError('required')">Current Password Required</p>
        </div>
      </div>


      <div class="formItem my-3">
        <label for="password">New Password :</label>
        <input formControlName="password" name="password" id="password" type="password" class="form-control my-2" />
        <div *ngIf="
          (updatePasswordForm.get('password')?.touched ||
            updatePasswordForm.get('password')?.value.length > 0) &&
          updatePasswordForm.get('password')?.errors
        " class="alert alert-danger">
          <p *ngIf="updatePasswordForm.get('password')?.getError('required')">
            Required
          </p>
          <p *ngIf="updatePasswordForm.get('password')?.getError('pattern')">
            must be at least 6 characters
          </p>
        </div>
      </div>


      <div class="formItem">
        <label for="rePassword">RePassword :</label>
        <input formControlName="rePassword" name="rePassword" id="rePassword" type="password"
          class="form-control my-2" />
        <div *ngIf="
          (updatePasswordForm.get('rePassword')?.touched ||
            updatePasswordForm.get('rePassword')?.value.length > 0) &&
          updatePasswordForm.get('rePassword')?.errors
        " class="alert alert-danger">
          <p *ngIf="updatePasswordForm.get('rePassword')?.getError('required')">
            Required
          </p>
          <p *ngIf="updatePasswordForm.get('rePassword')?.getError('notMatch')">
            Not Match
          </p>
        </div>
      </div>
      <button
        [disabled]="updatePasswordForm.invalid"
        class="btn btn-success mt-3"
        type="submit"
      >
        <span *ngIf="isloading"
          ><i class="fa-solid fa-spinner fa-spin me-2"></i></span
        >Change Password
      </button>
      <p *ngIf="userMsg" class="alert alert-danger">{{ userMsg }}</p>
    </form>

  </div>
</section>
